<div class="dashboard">
      {{>dashboard_nav}}
    <div class="dash_body">

            

        <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="/images/myfavoritgames.jpg">
              <span class="card-title">Games</span>
            </div>
            <div class="card-content">
              <p>You can add your  favorite game and write about it ...</p>
            </div>
            <div class="card-action">
              <a href="/dashboard/articles">Add your game</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="/images/review.jpg">
              <span class="card-title">Reviews</span>
            </div>
            <div class="card-content">
              <p>You can write review on any game that you want. Choose existing or add your favorite</p>
            </div>
            <div class="card-action">
              <a href="/">You can choose the game for review</a>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>


